/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/proteinfold -profile test_full_alphafold2_split,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/


if (params.use_gpu) { singularity.runOptions = '--nv' }
singularity.cacheDir = "/g/data/if89/singularity_cache/"
singularity.autoMounts = true
params {
    mode            = 'alphafold2'
    alphafold2_mode = 'split_msa_prediction'
    input           = 'https://raw.githubusercontent.com/nf-core/test-datasets/proteinfold/testdata/samplesheet/v1.0/samplesheet.csv'
    alphafold2_db   = '/g/data/if89/alphafold2/standard/'
    use_dgxa100 = false
    esmfold_params_path   = '/g/data/if89/esm-fold/checkpoints'
}

process {
    storage = "gdata/if89+scratch/${params.project}+gdata/${params.project}"

    if (params.use_gpu) {
        withName: 'RUN_ALPHAFOLD2_PRED|RUN_ALPHAFOLD2' {
            if (params.use_dgxa100){
                queue = "dgxa100"
                cpus = 16    
            }else{
                queue = "gpuvolta"
                cpus = 12
            }
            gpus = 1
        }
    }

    withName: 'RUN_ESMFOLD' {
        queue = "copyq"
        cpus = 1
        time = 10.h
    }
}