/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/proteinfold -profile test_full_alphafold2_split,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/


if (params.use_gpu) { singularity.runOptions = '--nv' }

singularity.cacheDir = "/g/data/if89/singularity_cache/"
singularity.autoMounts = true

params {
    mode            = 'alphafold2'
    alphafold2_mode = 'split_msa_prediction'
    input           = 'https://raw.githubusercontent.com/nf-core/test-datasets/proteinfold/testdata/samplesheet/v1.0/samplesheet.csv'
    alphafold2_db   = '/g/data/if89/protienfold_dbs/alphafold2_dbs/'
    use_dgxa100 = false
    esmfold_params_path   = '/g/data/if89/protienfold_dbs/esmfold_dbs/checkpoints'
    colabfold_db                = "/g/data/if89/protienfold_dbs/colabfold_dbs"
    colabfold_server        = 'local'
    colabfold_model_preset  = 'alphafold2_ptm'

}

process {
    storage = "gdata/if89+scratch/${params.project}+gdata/${params.project}"

    if (params.use_gpu) {
        withName: 'RUN_ALPHAFOLD2_PRED|RUN_ALPHAFOLD2|RUN_ESMFOLD' {
            if (params.use_dgxa100){
                queue = "dgxa100"
                cpus = 16    
            }else{
                queue = "gpuvolta"
                cpus = 12
            }
            gpus = 1
        }
    }

    withName: 'MMSEQS_COLABFOLDSEARCH' {
        memory = 300.GB 
        time = 16.h   
    }

}